<post title="Stog 0.18.0"
date="2018/07/06"
topics="stog"
keywords="release"
published="true"
>
<p>
Release 0.18.0 of stog is available from the <page href="/install"/> page.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>build fixes by Gabriel Scherer.</li>
</ul>
<p>Development has moved to <ext-a href="https://framagit.org/zoggy/stog">Framagit</ext-a>
and website is now at <doc href="/index"><code><site-url/></code></doc>.
</p>
</post>
