<page title="Start using Stog in 5 minutes"
navbar-doc="active"
with-contents="true"
>
<cl foo=""><command-line defer_="1"><contents/></command-line></cl>
<contents>
<section id="firstpage" title="First page">
<p>
Let's create a new directory and add a first HTML page:
</p>
<cl><![CDATA[$ mkdir mystog
$ cat > mystog/index.html
<page title="My first site with Stog"
main="true"
>
Hello world !
</page>
^D]]></cl>
<p>Now let's run <icode>stog</icode> on the <icode>mystog</icode> directory
to generate the result in the (automatically created) <icode>stog-output</icode>
directory:
</p>
<cl>$ stog --local mystog
Warning: Creating non-existent configuration directory "mystog/.stog"
0 error, 1 warning
$ ls stog-output
index.html
</cl>
<p>Now browse the <icode>stog-output/index.html</icode> file. Hum,
it misses some style.
Let's add a default stylesheet to our source directory and run
<icode>stog</icode> again:
</p>
<cl>$ wget https://framagit.org/zoggy/stog/raw/master/share/templates/page-style.css -O mystog/style.css
$ stog --local mystog
</cl>
<p>Now the page <icode>stog-output/index.html</icode> looks better.
</p>
</section>

<section id="twomorepages" title="Two more pages">
<p>
We start by adding a post, which is a document of type "post",
as the first node in the file indicates. We create the file
in a new <icode>posts</icode> directory to keep things clean:
</p>
<cl><![CDATA[$ mkdir mystog/posts
$ cat > mystog/posts/first-post.html
<post title="My first blog post!"
date="2013/11/25"
>
<p>This is the first post of this blog.</p>
<sep_/>
<p>Lorem ipsum bla bla bla</p>
</post>
^D]]></cl>
<p>Let's run <icode>stog</icode> and browse the resulting file
in <icode>stog-output/posts/first-post.html</icode>:
</p>
<cl>$ stog --local mystog
Warning: Creating default template file "mystog/.stog/templates/post.tmpl"
Warning: Creating default template file "mystog/.stog/templates/doc-in-list.tmpl"
Warning: Creating default template file "mystog/.stog/templates/by-month.tmpl"
0 error, 3 warnings
$ tree stog-output
stog-output
|-- 2013_11.html
|-- index.html
|-- posts
|   `-- first-post.html
`-- style.css

1 directory, 4 files
</cl>
<p>
We see that the original file hierarchy (in <icode>mystog</icode>)
is mapped to the destination directoy (in <icode>stog-output</icode>).
An additional file is present, <icode>2013_11.html</icode>, which is automatically
created to list documents of november 2013, since at least one document has
this date (out first blog post).
</p>
<p>
Let's add another page, here a <icode>mystog/blog.html</icode> file, containing
the list of documents of type "post", with 4 documents maximum, and generating
a <icode>index.rss</icode> file on the fly:
</p>
<cl><![CDATA[$ cat > mystog/blog.html
<page title="My blog">
  <p>Most recent posts:</p>
  <documents type="post" rss="index.rss" max="4"/>
</page>
^D
$ stog --local mystog
Warning: Creating default template file "mystog/.stog/templates/rss-item.tmpl"
Warning: Creating default template file "mystog/.stog/templates/rss.tmpl"]]></cl>
<p>
Let's retrieve two images into our source directory and run <icode>stog</icode> again:
</p>
<cl><![CDATA[$ wget https://www.good-eris.net/stog/rss.png -O mystog/rss.png
$ wget https://www.good-eris.net/stog/next.png -O mystog/next.png
$ stog --local mystog
]]></cl>
</section>

<section id="ref" title="Referencing documents">
<p>References from a document (a page, a post, ...) to another are checked by stog.
Let's add a reference to our blog from the main page. We show the contents
of <icode>mystog/index.html</icode> after the modification:
</p>
<hxml><![CDATA[
<page title="My first page with Stog"
main="true"
>
Hello world !
<p>
This is reference to <doc href="blog"/>.
</p>
</page>
]]></hxml>
<cl>$ stog --local mystog</cl>
<p>Now browse the <icode>stog-output/index.html</icode> file to see the result.</p>
</section>
<section id="further" title="Going further">
<p>Now you can read <doc href="overview">how Stog works</doc> and
the <doc href="funs">predefined rewrite rules</doc>.
</p>
<p>The source of each page is available at the bottom of the page.
Feel free to have a look to see how something is achieved.
</p>
</section>
</contents>
</page>
